extends ../layout

block content
  header
    +navbar-unresponsive('Post', '/')
  main
    .container
      .section: form(action='', method='POST')
        .row
          .col.s12.l6
            +input('title', post.title || '') Title
            +textarea('body', post.body || "") Body
          .col.s12.l6
            .card
              .card-content
                +marked(post.body, post.title)

        hr
        +submit Send
